{% extends "base.html" %}

{% block content %}
<header id="showcase"> Welcome to the site {{ name }} !</header>
<div id="content" class="container">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus rerum voluptas velit ullam, deserunt veniam ratione eos magni, nesciunt laboriosam aliquid molestiae saepe labore, at? Accusantium tempora quia, odio sapiente, libero atque ratione doloribus necessitatibus placeat minus distinctio dolorem alias commodi! Possimus, inventore voluptates quisquam laudantium minima. Deleniti, eum, voluptatibus!
</div>
<a href="#" class="btn">Read More</a>
{% endblock %}
